/* TODO: inserite il CSS necessario per completare il MHW! */

.choice-grid{
display: flex;
width: 100%;

margin-bottom: 20px;
flex-wrap: wrap;
justify-content: space-between;
}

.question-name{
    background-repeat: no-repeat;
}

.choice-grid div{
    display: flex;
    flex-direction: column;

    
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    margin-bottom: 20px;
    padding: 10px;
    width: calc(32.5% - 22px);
    
}


.checkbox{
    height: 20px;
    width: 20px;
}

.choice-grid .selection{
    background-color: #cfe3ff;
}
.opacita{
    opacity: 0.6;
}



.restart{
    margin-top: 20px; /*NE METTO SOLO 20 INVECE DI 40 PERCHè SI SOMMANO CON GLI ALTRI 20 DEL MARGIN BOTTOM DELLE FOTO*/
    margin-bottom: 20px;
    padding: 20px;
}

.restart p{
    margin-top: 18px;
    margin-bottom: 18px;
}
.restart #bottone{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 50px;
    width: 100%;
    background-color: #cecece;
}
.restart #bottone:hover{
    background-color: #e0e0e0;
}


/******************************************************************/
@media (max-width: 700px){
    body{
        width: 95%;
        height: 100vh;
    }

    header div span{
        display: none;
    }
}

@media (max-width: 500px){
    body{
        width: 95%;
        height: 100vh;
    }
    .choice-grid div{
        width: calc(49% - 22px);
        height: calc(49% - 22px);
    }
}




































